<body>
	<!-- wrapper -->
	<div id="wrapper">

		<!-- header -->
		<header id="header">
			<div class="rows">
				<h1 id="logo">
					<a href="/">SAMSUNG SOFTWARE MEMBERSHIP</a>
				</h1>
			</div>
			<nav id="gnb">
				<div class="rows">
					<ul>
						<li><a id=mAboutUs snb-target="about-us" class="about_us"><span>ABOUT US</span></a></li>
						<li><a id=mTechBlog snb-target="tech-blog"><span>Tech Blog</span></a></li>
					</ul>
				</div>
			</nav>
			<div id="snb">
				<!-- about us -->
				<div class="rows about-us">
					<ul class="f">
						<li class="snb_title">About Us</li>
						<li><a href="/whoweare" class="f" under="under who">소개</a></li>
						<li><a href="/program" class="f" under="program">프로그램</a></li>
						<li><a href="/faq" class="f" under="faq">FAQ</a></li>
					</ul>
					<div class="under who">
						<span class="title">삼성소프트웨어멤버십</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_aboutus.jpg" alt="ABOUT US image" title="ABOUT US image">
						</div>
						<p class="txt">Samsung Research is a comprehensive R&amp;D organization for Samsung&#39;s SET business.</p>
					</div>
					<div class="under program">
						<span class="title">프로그램</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_vision.png" alt="Vision & Mission image" title="Vision & Mission image">
						</div>
						<p class="txt">This is Samsung Research&#39;s vision &amp; mission</p>
					</div>
					<div class="under faq">
						<span class="title">FAQ</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_location.png" alt="Contact image" title="Contact image">
						</div>
						<p class="txt">This is where Samsung Research is located</p>
					</div>
				</div>
				<!-- //about us -->
				<!-- research area -->
				<div class="rows research-area">
					<ul class="g">
						<li class="snb_title"><a href="/research-areas" class="g">RESEARCH AREAS</a></li>
						<li><a href="/artificial-intelligence" class="g" under="artificial-intelligence">Artificial Intelligence</a></li>
						<li><a href="/data-intelligence" class="g" under="data-intelligence">Data Intelligence</a></li>
						<li><a href="/iot" class="g" under="cloud-iot">IoT</a></li>
						<li><a href="/tizen" class="g" under="tizen">Tizen</a></li>
						<li><a href="/smart-machine" class="g" under="smart-machine">Smart Machine</a></li>
						<li><a href="/security" class="g" under="security">Security</a></li>
						<li><a href="/next-generation-media" class="g" under="next-generation-media">Next Generation Media</a></li>
					</ul>
					<div class="under artificial-intelligence a">
						<span class="title">Artificial Intelligence</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_ai.jpg" alt="Artificial Intelligence image" title="Artificial Intelligence image">
						</div>
						<p class="txt">Next generation AI platform for enabling New user experiences from our various devices and services.</p>
					</div>
					<div class="under data-intelligence">
						<span class="title">Data Intelligence</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_di.jpg" alt="Data Intelligence image" title="Data Intelligence image">
						</div>
						<p class="txt">
							Developing novel data processing and analytics technologies inspired by artificial intelligence to strengthen the competitiveness of Samsung’s devices and services.
						</p>
					</div>
					<div class="under cloud-iot">
						<span class="title">IoT</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_cloud_iot.jpg" alt="IoT image" title="IoT image">
						</div>
						<p class="txt">Top-notch Digital Transformation Enabler Providing Data-Driven Platform.</p>
					</div>
					<div class="under tizen">
						<span class="title">Tizen</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_tizen.png" alt="Tizen image" title="Tizen image">
						</div>
						<p class="txt">Platform for all Samsung devices & Infrastructure for data intelligence.</p>
					</div>
					<div class="under smart-machine">
						<span class="title">Smart Machine</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_smart_machine.jpg" alt="Smart Machine image" title="Smart Machine image">
						</div>
						<p class="txt">Securing core S&#47;W of Smart Machine and Data to create future business.</p>
					</div>
					<div class="under security">
						<span class="title">Security</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_security.png" alt="Security image" title="Security image">
						</div>
						<p class="txt">The next generation security solution integrating intelligent device network and service.</p>
					</div>
					<div class="under next-generation-media">
						<span class="title">Next Generation Media</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_ngm.jpg" alt="Next Generation Media image" title="Next Generation Media image">
						</div>
						<p class="txt">Enabling media devices and services to provide top-quality media experience from any content resources.</p>
					</div>
				</div>
				<!-- //research area -->
				<!-- global-area-->
				<div class="rows global-network">
					<ul class="i">
						<li class="snb_title"><a href="/global-rnd-network" class="title">GLOBAL R&amp;D CENTERS</a></li>
						<li class="s"><a class="s a america">America</a>
							<ul class="t a america">
								<li class="sub_menu_line"></li>
								<li class="t"><a href="/sra" class="t">Samsung Research America</a></li>
								<li class="t"><a href="/srca" class="t">Samsung R&amp;D Institute Canada</a></li>
								<li class="t"><a href="/srbr" class="t">Samsung R&amp;D Institute Brazil</a></li>
							</ul></li>
						<li class="s"><a class="s">Europe/CIS/Middle East</a>
							<ul class="t">
								<li class="sub_menu_line"></li>
								<li class="t"><a href="/sruk" class="t">Samsung R&amp;D Institute United kingdom</a></li>
								<li class="t"><a href="/srpol" class="t">Samsung R&amp;D Institute Poland</a></li>
								<li class="t"><a href="/srr" class="t">Samsung R&amp;D Institute Russia</a></li>
								<li class="t"><a href="/srk" class="t">Samsung R&amp;D Institute Ukraine</a></li>
								<li class="t"><a href="/sril" class="t">Samsung R&amp;D Institute Israel</a></li>
								<li class="t"><a href="/srjo" class="t">Samsung R&amp;D Institute Jordan</a></li>
							</ul></li>
						<li class="s"><a class="s">Southwest/Southeast Asia</a>
							<ul class="t">
								<li class="sub_menu_line"></li>
								<li class="t"><a href="/sri-d" class="t">Samsung R&amp;D Institute India-Delhi</a></li>
								<li class="t"><a href="/sri-b" class="t">Samsung R&amp;D Institute India-Bangalore</a></li>
								<li class="t"><a href="/sri-n" class="t">Samsung R&amp;D Institute India-Noida</a></li>
								<li class="t"><a href="/srph" class="t">Samsung R&amp;D Institute Philippines</a></li>
								<li class="t"><a href="/srbd" class="t">Samsung R&amp;D Institute Bangladesh</a></li>
								<li class="t"><a href="/srin" class="t">Samsung R&amp;D Institute Indonesia</a></li>
							</ul></li>
						<li class="s"><a class="s">China</a>
							<ul class="t">
								<li class="sub_menu_line"></li>
								<li class="t"><a href="/src-b" class="t">Samsung R&amp;D Institute China-Beijing</a></li>
								<li class="t"><a href="/src-n" class="t">Samsung R&amp;D Institute China-Nanjing</a></li>
								<li class="t"><a href="/src-g" class="t">Samsung R&amp;D Institute China-Guangzhou</a></li>
								<li class="t"><a href="/src-s" class="t">Samsung R&amp;D Institute China-Shenzhen</a></li>
								<li class="t"><a href="/src-t" class="t">Samsung R&amp;D Institute China-Tianjin</a></li>
							</ul></li>
						<li class="s"><a class="s">Japan</a>
							<ul class="t">
								<li class="sub_menu_line"></li>
								<li class="t"><a href="/srj-o">Samsung R&amp;D Institute Japan-Osaka</a></li>
								<li class="t"><a href="/srj-y">Samsung R&amp;D Institute Japan-Yokohama</a></li>
							</ul>
						</li>
					</ul>
					<ul class="j">
						<li class="snb_title"><a href="/aicenter" class="title">GLOBAL AI CENTERS</a></li>
						<li class="j"><a href="/aicenter_seoul" class="j">Samsung Research</a></li>
						<li class="j"><a href="/aicenter_siliconvalley" class="j">Samsung Research America</a></li>
						<li class="j"><a href="/aicenter_toronto" class="j">Toronto</a></li>
						<li class="j"><a href="/aicenter_cambridge" class="j">Cambridge</a></li>
						<li class="j"><a href="/aicenter_moscow" class="j">Moscow</a></li>
					</ul>
				</div>
				<!-- //global area -->
				<!--news area -->
				<div class="rows news-events">
					<ul class="h">
						<li class="snb_title">NEWS&nbsp;&amp;&nbsp;EVENTS</li>
						<li><a href="/news" class="h" under="news">News</a></li>
						<li><a href="/events" class="h" under="events">Events</a></li>
						<li><a href="/gallery" class="h" under="gallery">Gallery</a></li>
					</ul>
				</div>
				<!-- //news area -->
				<!--careers area -->
				<div class="rows careers">
					<ul class="i">
						<li class="snb_title"><a href="/careers" class="s">Careers</a></li>
						<li><a href="/facilities" class="i" under="facilities">Facilities</a></li>
						<li><a href="/culture" class="i" under="culture">Culture</a></li>
					</ul>
				</div>
				<!-- //careers area -->
			</div>
			
			<div class="nav_wrapper no-scroll">
				<h1 id="logo">
					<a href="/">SAMSUNG SOFTWARE MEMBERSHIP</a>
				</h1>
				<div class="spinner-master" data-behaviour="toggle-menu-icon" id="spinner-form">
					<div id="line-top" class="line"></div>
					<div id="line-mid" class="line"></div>
					<div id="line-bot" class="line"></div>
				</div>
				<nav id="lnb">
					<ul>
						<li><a href="#none">ABOUT US</a>
							<ul class="submenu">
								<li class="snb_title"><a>ABOUT US</a></li>
								<li><a href="/whoweare">Who We Are</a></li>
								<li><a href="/vision-mission">Vision &amp; Mission</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</li>
						<li><a href="#none">RESEARCH AREAS</a>
							<ul class="submenu">
								<li class="snb_title"><a href="/research-areas">RESEARCH AREAS</a></li>
								<li><a href="/artificial-intelligence" >Artificial Intelligence</a></li>
								<li><a href="/data-intelligence">Data Intelligence</a></li>
								<li><a href="/iot">IoT</a></li>
								<li><a href="/tizen">Tizen</a></li>
								<li><a href="/smart-machine">Smart Machine</a></li>
								<li><a href="/security">Security</a></li>
								<li><a href="/next-generation-media">Next Generation Media</a></li>
							</ul>
						</li>
						<li><a href="#Link">GLOBAL R&amp;D NETWORK</a>
							<ul class="submenu global">	
								<li class="snb_title"><a href="#none">GLOBAL R&amp;D CENTERS</a>
									<ul class="global_network">
										<li class="snb_title"><a href="/global-rnd-network">GLOBAL R&amp;D CENTERS</a></li>
										<li><a href="#none">America</a>
											<ul>
												<li><a href="/sra">Samsung Research America</a></li>
												<li><a href="/srca">Samsung R&amp;D Institute Canada</a></li>
												<li><a href="/srbr">Samsung R&amp;D Institute Brazil</a></li>
											</ul>
										</li>
										<li><a href="#none">Europe/CIS/Middle East</a>
											<ul>
												<li><a href="/sruk">Samsung R&amp;D Institute United Kingdom</a></li>
												<li><a href="/srpol">Samsung R&amp;D Institute Poland</a></li>
												<li><a href="/srr">Samsung R&amp;D Institute Russia</a></li>
												<li><a href="/srk">Samsung R&amp;D Institute Ukraine</a></li>
												<li><a href="/sril">Samsung R&amp;D Institute Israel</a></li>
												<li><a href="/srjo">Samsung R&amp;D Institute Jordan</a></li>
											</ul>
										</li>
										<li><a href="#none">Southwest/Southeast Asia</a>
											<ul>
												<li><a href="/sri-d">Samsung R&amp;D Institute India-Delhi</a></li>
												<li><a href="/sri-b">Samsung R&amp;D Institute India-Bangalore</a></li>
												<li><a href="/sri-n">Samsung R&amp;D Institute India-Noida</a></li>
												<li><a href="/srph">Samsung R&amp;D Institute Philippines</a></li>
												<li><a href="/srbd">Samsung R&amp;D Institute Bangladesh</a></li>
												<li><a href="/srin">Samsung R&amp;D Institute Indonesia</a></li>
											</ul>
										</li>
										<li><a href="#none">China</a>
											<ul>
												<li><a href="/src-b">Samsung R&amp;D Institute China-Beijing</a></li>
												<li><a href="/src-n">Samsung R&amp;D Institute China-Nanjing</a></li>
												<li><a href="/src-g">Samsung R&amp;D Institute China-Guangzhou</a></li>
												<li><a href="/src-s">Samsung R&amp;D Institute China-Shenzhen</a></li>
												<li><a href="/src-t">Samsung R&amp;D Institute China-Tianjin</a></li>
											</ul>
										</li>
										<li><a href="#none">Japan</a>
											<ul>
												<li><a href="/srj-o">Samsung R&amp;D Institute Japan-Osaka</a></li>
												<li><a href="/srj-y">Samsung R&amp;D Institute Japan-Yokohama</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="snb_title"><a href="#none">GLOBAL AI CENTERS</a>
									<ul>
										<li class="snb_title"><a href="/aicenter">GLOBAL AI CENTERS</a></li>
										<li><a href="/aicenter_seoul">Samsung Research</a></li>
										<li><a href="/aicenter_siliconvalley">Samsung Research America</a></li>
										<li><a href="/aicenter_toronto">Toronto</a></li>
										<li><a href="/aicenter_cambridge">Cambridge</a></li>
										<li><a href="/aicenter_moscow">Moscow</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#none">NEWS&nbsp;&amp;&nbsp;EVENTS</a>
							<ul class="submenu">
								<li class="snb_title"><a>NEWS&nbsp;&amp;&nbsp;EVENTS</a></li>
								<li><a href="/news">News</a></li>
								<li><a href="/events">Events</a></li>
								<li><a href="/gallery">Gallery</a></li>
							</ul>
						</li>
						
						<li><a href="#none">CAREERS</a>
							<ul class="submenu">
								<li class="snb_title"><a href="/careers">Careers</a></li>
								<li><a href="/facilities">Facilities</a></li>
								<li><a href="/culture">Culture</a></li>
							</ul></li>
						</li>
					</ul>
				</nav>
			</div>

		</header>
		<!-- //header -->

</body>
