<body>
	<!-- wrapper -->
	<div id="wrapper">

		<!-- header -->
		<header id="header">
			<div class="rows">
				<h1 id="logo">
					<a href="/">SAMSUNG SOFTWARE MEMBERSHIP</a>
				</h1>
			</div>
			<nav id="gnb">
				<div class="rows">
					<ul>
						<li><a id=mAboutUs snb-target="about-us" class="about_us"><span>소개</span></a></li>
						<li><a id=mTechBlog snb-target="tech-blog"><span>블로그</span></a></li>
						<li><a id=mNews snb-target="news"><span>소식</span></a></li>
					</ul>
				</div>
			</nav>
			<div id="snb">
				<!-- about us -->
				<div class="rows about-us">
					<ul class="f">
						<li class="snb_title">소개</li>
						<li><a href="/ssm" class="f" under="ssm"></a></li>
						<li><a href="/program" class="f" under="program">프로그램</a></li>
						<li><a href="/history" class="f" under="history">역사관</a></li>						
						<li><a href="/map" class="f" under="history">위치</a></li>
					</ul>
					<div class="under who">
						<span class="title">삼성소프트웨어멤버십</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_aboutus.jpg" alt="ABOUT US image" title="ABOUT US image">
						</div>
						<p class="txt">Samsung Research is a comprehensive R&amp;D organization for Samsung&#39;s SET business.</p>
					</div>
					<div class="under program">
						<span class="title">프로그램</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_vision.png" alt="Vision & Mission image" title="Vision & Mission image">
						</div>
						<p class="txt">This is Samsung Research&#39;s vision &amp; mission</p>
					</div>
					<div class="under faq">
						<span class="title">FAQ</span>
						<div class="image">
							<img src="https://cdn.codeground.org/sr/images/main/snb_location.png" alt="Contact image" title="Contact image">
						</div>
						<p class="txt">This is where Samsung Research is located</p>
					</div>
				</div>
				<!-- //about us -->
			</div>

		</header>
		<!-- //header -->
		<script src="https://nefsjyj.github.io/nefsjyj2.github.io/assets/js/common.js"></script>
</body>
