<!DOCTYPE html>
<html lang="ko">
<head>
<title>Samsung Software Membership | 삼성 소프트웨어 멤버십</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">

<meta name="title" content="Samsung Software Membership | 삼성 소프트웨어 멤버십">
<meta name="keywords" content="Samsung Software Membership, 삼성소프트웨어멤버십, 삼성 소프트웨어 멤버십, Samsung Software Membership">
<meta name="description" content=삼성 소프트웨어멤버십은 재능과 열정 있는 국내 최고의 대학생 개발자들을 조기 발굴하여 개발역량과 잠재능력을 마음껏 발휘 할 수 있는 공간을 마련하기 위해 설립되었습니다. IT 연구개발 활동에 필요한 물품과 최적의 환경을 제공하는 삼성전자 인재양성 프로그램입니다.">
<meta property="og:title" content="Samsung Software Membership | 삼성 소프트웨어 멤버십">
<meta property="og:description" content="삼성 소프트웨어멤버십은 재능과 열정 있는 국내 최고의 대학생 개발자들을 조기 발굴하여 개발역량과 잠재능력을 마음껏 발휘 할 수 있는 공간을 마련하기 위해 설립되었습니다. IT 연구개발 활동에 필요한 물품과 최적의 환경을 제공하는 삼성전자 인재양성 프로그램입니다.">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Samsung Software Membership | 삼성 소프트웨어 멤버십">
<meta property="og:image" content="https://cdn.samsung.com/etc/designs/smg/global/imgs/logo-square-letter.png">
<meta property="og:url" content="https://nefsjyj.github.io/nefsjyj2.github.io/">
<meta itemprop="name" content="Samsung Software Membership | 삼성 소프트웨어 멤버십">
<meta itemprop="image" content="https://cdn.samsung.com/etc/designs/smg/global/imgs/logo-square-letter.png">
<meta itemprop="url" content="https://nefsjyj.github.io/nefsjyj2.github.io/">
<meta itemprop="description" content="삼성 소프트웨어멤버십은 재능과 열정 있는 국내 최고의 대학생 개발자들을 조기 발굴하여 개발역량과 잠재능력을 마음껏 발휘 할 수 있는 공간을 마련하기 위해 설립되었습니다. IT 연구개발 활동에 필요한 물품과 최적의 환경을 제공하는 삼성전자 인재양성 프로그램입니다.">
<meta itemprop="keywords" content="Samsung Software Membership, 삼성소프트웨어멤버십, 삼성 소프트웨어 멤버십">
<link rel="canonical" href="https://nefsjyj.github.io/nefsjyj2.github.io/">
<link rel="shortcut icon" href="/assets/images/favicon.ico" />
                                                           
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
